<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title>leave page 1</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Search form -->
		<form id="search-form">
			<div class="row">
				<div class="col-sm-4 mb-3">
					<input class="form-control" id="name" type="text" placeholder="Search" aria-label="Search">
				</div>
				<div class="col-sm-4 mb-3">
					<input class="form-control" id="id" type="text" placeholder="Search" aria-label="Search">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 mb-3">
					<input class="form-control" id="cc" type="text" placeholder="Search" aria-label="Search">
				</div>
				<div class="col-sm-4 mb-3">
				 <input class="form-control form_date" type="text" id="dateTime" name="dateTime" /> 
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 mb-3"></div>
				<div class="col-sm-4 mb-3">
					<button type="submit" id="btn-search" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>

		<div class="container-fluid">

		<!-- /.container-fluid -->
	</div>
</body>
<th:block layout:fragment="bodyAssets">
	<script type="text/javascript">
		$(document).ready(function() {
			$('#INPUT_ID').datetimepicker();
			$('#btn1').click(function () {
		    	alert("ssssqqqqqqqqqqqq");
// 		        e.preventDefault();
 var account = $("#account").val();
	                $.ajax({
	                    url: '/yourMapping1',
	                    type: 'post',
	                    dataType: 'json',
	                    contentType: 'application/json',
	                    data: JSON.stringify({account : account}),
	                    async: true,
	                    success: function(data){
	                    	alert("iuytrewertyuioiuy");
	                        if(data != null){
	                            alert('flag : ' + data.flag + " , hintMessage : " + data.hintMessage);
	                        }
	                    },
	                    error:function(e){
	                    	console.log(e);
	                    	alert(e.responseText);
	                    }
	                });
			});
			
			var $form = $('#userInfo');
			  $form.on('submit', function(e) {
				  var account = $("#account").val();
				  var name = $("#name").val();
			    e.preventDefault();
			    alert(6666666);
			    $.ajax({
			    	contentType: "application/json; charset=utf-8",
			    	url: $form.attr('action'),
			      type: 'post',
// 			      data: $form.serialize(),
  				 data: JSON.stringify({account : account,name : name}),
			      success: function(response) {
			        // if the response contains any errors, replace the form
			        console.log(response);
			         alert(response);
			        if ($(response).find('.has-error').length) {
			    	  
			          $form.replaceWith(response);
			        } else {
			        	 alert(1111111111);
			          // in this case we can actually replace the form
			          // with the response as well, unless we want to 
			          // show the success message a different way
			        }
			      }, 
			      error:function(e){
                  	console.log(e);
                	alert(e.responseText);
                }
			  });
			  });
			 $('#btn').click(function () {
		            var url = '/blog/ajaxTest';
		            $('#div1').load(url);

		        });
			 
// 			$('#btn1').click(function () {
				
// 				alert($('#yourFormId').serialize());
// 		        var url = '/yourMapping';
// 		        $.ajax({
// 		            url: url,
// 		            type: 'post',
// 		            data: $('#yourFormId').serialize(),
// 		            success: function (data) {
// 		            	alert(data);
// 		                $('#div1').html(data);
// 		            }
// 		        })
// 		    });
	
// 			$("#yourFormId").submit(function (e) {
// 			        e.preventDefault();
// 			    	alert("xxxxxxxxx");
// 			    	$.ajax({
// 			             url : $form.attr('action'),
// 			             type : 'post',
// 			             data : $form.serialize(),
// 			             success : function(response) {
// 			                 if ($(response).find('.has-error').length) {
// 			                     $form.replaceWith(response);
// 			                 }
// 			                 else{
// 			                     $("#ajaxLoadedContent").replaceWith(response);
// 			                 }
// 			             }
// 			         });
// 			    });
			
			
		});
	</script>
</th:block>

</html>