<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<localRepository>/Users/Andy-Wang/.m2/repository</localRepository>
	<servers>
		<server>
			<id>bt-nexus-public</id>
			<username>mvnuser</username>
			<password>70842954bt</password>
		</server>
		<server>
			<id>bt-nexus-release</id>
			<username>mvnuser</username>
			<password>70842954bt</password>
		</server>
		<server>
			<id>bt-nexus-snapshot</id>
			<username>mvnuser</username>
			<password>70842954bt</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<id>development</id>
		</profile>
		<profile>
			<id>redhat-ga-repository</id>
			<repositories>
				<repository>
					<id>redhat-ga-repository</id>
					<name>Red Hat GA repository</name>
					<url>http://maven.repository.redhat.com/ga/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>redhat-ga-repository</id>
					<name>Red Hat GA repository</name>
					<url>http://maven.repository.redhat.com/ga/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>jboss-public-repository</id>
			<repositories>
				<repository>
					<id>jboss-public-repository</id>
					<name>JBoss Public</name>
					<url>https://repository.jboss.org/nexus/content/groups/public-jboss/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-public-repository</id>
					<name>JBoss Public</name>
					<url>https://repository.jboss.org/nexus/content/groups/public-jboss/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>bt-nexus</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>bt-nexus-public</id>
					<url>https://btciservices.bluetechnology.com.tw:18083/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				
				<repository>
					<id>bt-nexus-release</id>
					<url>https://btciservices.bluetechnology.com.tw:18083/repository/maven-releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				
				<repository>
				  <id>bt-nexus-snapshot</id>
				  <name>Bluetechnology Thirdparty snapshot</name>
				  <url>https://btciservices.bluetechnology.com.tw:18083/repository/maven-snapshots/</url>
				  <releases>
					<enabled>false</enabled>
				  </releases>
				  <snapshots>
					<enabled>true</enabled>
				  </snapshots>
				</repository>
				
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>development</activeProfile>
		<activeProfile>redhat-ga-repository</activeProfile>
		<activeProfile>jboss-public-repository</activeProfile>
		<activeProfile>bt-nexus</activeProfile>
	</activeProfiles>
	<pluginGroups>
		<pluginGroup>org.apache.maven.plugins</pluginGroup>
		<pluginGroup>org.codehaus.mojo</pluginGroup>
	</pluginGroups>
</settings>
